body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}
 
/* Encabezado */
header {
    background-color: #6bb3ff;
    color: white;
    text-align: center;
    padding: 5px;
}
 
/* Secciones */
.seccion {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
 
/* Sección con imagen y texto en horizontal */
.especial {
    display: flex;
    align-items: center;
    gap: 20px;
}
 
.imagen img {
    width: 200px;
    border-radius: 8px;
}

.personaje {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.personaje img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}


.personaje h3 {
    margin: 0 0 5px 0;
}
 
.texto {
    flex: 1;
}
 
/* Pie de página */
footer {
    background-color: #6bb3ff;
    color: white;
    text-align: center;
    padding: 15px;
}
 
/* MENÚ */
nav {
    background-color: #6bb3ff;
    padding: 15px;
    text-align: center;
}
 
nav a {
    color: white;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

/* DIV para la segunda pagina */
.pagina2 div {
    padding: 60px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
